.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-item {
  display: flex;
  border-bottom: 1px solid lightgray;
  max-width: 600px;
}

.main {
  max-width: 1400px;
  margin: auto;
}

.loading-title {
  justify-content: center;
  display: flex;
}

.no-results-container{
  margin:10px;
  top:50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.no-results-container > * {
  display: flex;
  justify-content: center;
}
