.main {
  padding: 10px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
}

.grid-item {
  min-width: 300px;
  max-width: 600px;
  flex: 1;
  display: flex;
}

.page-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 652px) {
  .grid-item {
    border-bottom: 1px solid lightgray;
  }
}
