.header {
  margin: 0 10px;
}

.header > div {
  margin-top: 10px;
}

.flex-item {
  flex:1;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 5px
}

.header-item {
  display: flex;
  flex-direction: row;
  gap: 5px
}

.vertical {
  flex-direction: column;
  gap:10px;
}
